# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Admin
NEXT_PUBLIC_ADMIN_PASSWORD=

# Gmail
GMAIL_USER=
GMAIL_APP_PASSWORD=

# Google Calendar
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
